Pods/
.DS_Store
.idea/
*.xcworkspace
ModernWallet.xcodeproj/xcuserdata/
ModernWallet.xcworkspace/xcuserdata/
ModernWallet/.DS_Store
ModernWallet/Classes/.DS_Store
ModernWallet/Resources/.DS_Store
ModernWallet/Resources/Images/.DS_Store
build/
fastlane/report.xml
