<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Modern Money</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>642</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>f64e7b9a868533d9c0aae6e7587a65d18eaf811e</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Modern Money requests access to your camera to take а selfie, scan documents or QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Modern Money requests access to your Face Id in order to logged you in.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Modern Money requests access to your photo library to save а selfie, scan documents or QR codes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Modern Money requests access to your camera to take а selfie, scan documents or QR codes.</string>
	<key>TestEnvironmentDefinition</key>
	<string>$(TEST_ENVIRONMENT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Proxima Nova Bold.otf</string>
		<string>Proxima Nova Light.otf</string>
		<string>Proxima Nova Regular.otf</string>
		<string>Proxima Nova Semibold.otf</string>
		<string>Proxima Nova Thin.otf</string>
		<string>Geomanist-Regular.otf</string>
		<string>Geomanist-Book.otf</string>
		<string>Geomanist-Light.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
